svg {
  transition: 0.3s all ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.apps__list {
  margin-bottom: 100px;
}

.apps__list-btns {
  display: flex;
  align-items: center;
  gap: 40px;
}

.apps__list-btn {
  padding: 0px 0px 8px;

  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  background: transparent;
  border-bottom: 2px solid transparent;
  color: #858585;
}

.apps__list-btn.active {
  border-bottom: 2px solid #2e2f36;
  color: #2e2f36;
}

.favorites__inner:first-of-type {
  border-bottom: 1px solid #c9c9c9;
  margin: 37px 0 25px;
}

.apps__list-reset {
  background: transparent;
  padding: 0px 0px 17px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #858585;
  font-size: 14px;
  font-weight: 400;
}

.filter__apps {
  border-radius: 8px;
  border: 1px solid #c9c9c9;

  min-width: 214px;
}

.filter__apps-item {
  padding: 0;
  border-right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #2e2f36;
  font-size: 14px;
  padding: 13px 18px;
}

.filter__apps-item svg.active {
  transform: rotate(180deg);
}

.apps__filter-input {
  padding: 0;
  border: 0px;
  max-width: 100px;
  font-size: 14px;
}

.apps__filter-input:focus {
  outline: none;
}

.filter__search-box {
  padding: 0;
  position: relative;
}

.apps__list-filters {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.apps__list-filter {
  display: flex;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 13px 18px;
}

.apps__filter-text {
  font-size: 14px;
  font-weight: 500;
  color: #858585;
  margin: 0 13px;
}

.apps__filter-text.active {
  margin: 1px 0 0 9px;
  color: #b4a06b;
}

.filter__col {
  display: flex;
}

.apps__list-subtitle {
  margin: 50px 0px 17px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #2e2f36;
}

.filter__choice {
  top: 59px;
  left: -1px;
  width: 100%;
  max-height: 390px;
  overflow-y: auto;
}

.filter__search-box {
  padding: 12px 19px 15px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}

.filter__search-list {
  min-width: unset;
}

.filter__search-inp {
  color: #858585;
  font-weight: 500;
  font-size: 14px;
}

.filter__search-list::-webkit-scrollbar,
.filter__developers2::-webkit-scrollbar {
  width: 3px;

  background: #f3f3f3;
}

.filter__search-list::-webkit-scrollbar-track,
.filter__developers2::-webkit-scrollbar-track {
  background: #f3f3f3;

  border-radius: 30px;
}

.filter__search-list::-webkit-scrollbar-thumb,
.filter__developers2::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 30px;
}

.filter__from {
  border-radius: 8px;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  min-width: 194px;
  position: relative;
}

.filter__from-item {
  padding: 0;
  border-right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #2e2f36;
  font-size: 14px;
  padding: 13px 18px;
}

.filter__col {
  border-radius: 8px;
  border: 1px solid #c9c9c9;
  padding: 5px 7px;
  display: flex;
  align-items: center;
}

.filter__col-item {
  padding: 10px;
  font-weight: 500;
  color: #2e2f36;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.filter__col-item.active {
  background: #f3f3f3;
  border-radius: 5px;
}

.filter__col-line {
  background: #c9c9c9;
  height: 18px;
  width: 1px;
  margin: 0 5px;
}

.filter__developers {
  border-radius: 8px;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  min-width: 166px;
  position: relative;
}

.filter__developers-item {
  padding: 0;
  border-right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #858585;
  font-size: 14px;
  padding: 13px 18px;
}

.filter__developers2 {
  min-width: 212px;
  max-height: 270px;
  gap: 14px;
}

.filter__developers2 .custom-checkbox + label, .filter__add .custom-checkbox + label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.filter__add{
    border-radius: 8px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    min-width: 194px;
    position: relative;
}

.filter__add-item{
    border-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #858585;
    font-size: 14px;
    padding: 13px 18px;
}

.filter__add2{
    min-width: 210px;
}

.filter__apps-btn{
    width: 100%;
    padding: 13.5px 0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}

.swiper__card-list svg{
    padding: 0;
}
.swiper__card-list svg:hover circle{
    fill: #b4a06b;
}

.favorites__title{
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 14px;
    font-weight: 400 !important;
    color: #858585;
    line-height: normal;
}

.apps__title-filter{
    background: #f3f3f3;
    border-radius: 8px;
    position: relative;
}

.apps__title-filter2{
    cursor: pointer;
}

.apps__title-item{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2e2f36;
    font-weight: 500;
    font-size: 14px;
    padding: 11px 18px;
    cursor: pointer;
}

.apps__title-item2{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2e2f36;
    font-weight: 500;
    font-size: 14px;
}

.favorites__list{
    margin-top: 30px;
}

.description {
    margin: 96px 0 90px;
  }
  
  .description__title {
    font-size: 24px;
    margin-bottom: 18px;
  }
  
  .description__text {
    color: #525252;
    line-height: 155%;
    font-size: 16px;
    max-width: 1070px;
  }

@media (max-width: 1440px) {
    .apps__list-filters.sec{
        display: flex;
        flex-wrap: wrap;
    
    }
    .filter__apps{
        min-width: 200px;
    }
    .apps__filter-input{
        max-width: 80px;
    }
    .filter__from{
        min-width: 213px;
    }
    .filter__developers{
        min-width: 215px;
    }
    .filter__add{
        min-width: 242px;
    }
   
    .description__text{
        max-width: 960px;
    }
    .filter__apps-btn{
        max-width: 185px;
        padding: 12px 0;
    }
}

@media (max-width: 1180px) {
  
 
    .description {
        margin: 75px 0;
    }
    .description__text{
        font-size: 14px;
        line-height: 155%;
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    
    .description{
        margin: 55px 0 55px;
    }
    .description__title{
        max-width: 278px;
    }
    .description__text{
        font-size: 16px;
        line-height: 155%;
    }
    .catalog2 .container{
        padding-bottom: 263px;
    }
}
