.header__top-right{
    justify-content: center;
}

.header.other-pages {
    padding-bottom: 12px;
}

.navigation {
  margin: 30px 0px 48px;
}

.navigation__inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation__text {
  color: var(--Grey, #858585);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s all ease;
}

.navigation__text:hover {
  color: #2e2f36;
}

.navigation__text:last-child {
  color: var(--Dark, #2e2f36);
  cursor: unset;
  font-weight: 500;
}

.blog__item{
    margin-bottom: 105px;
}

.blog__item-title{
    max-width: 540px;
}

.blog__item-article{
    margin: 42px 0 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog__item-date{
    color: #525252;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 33px;
    background: #F3F3F3;
    border-radius: 8px;
}

.blog__item-time{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #858585;
    font-size: 14px;
    line-height: 155%;
}

.blog__item-inner{
    display: flex;
    gap: 30px;
}


.blog__item-img{
    width: 100%;
    object-fit: cover;
}

.blog__item-box{
    position: relative;
    margin-bottom: 26px;
}

.blog__item-box .swiper__card-item{
    position: absolute;
    left: 20px;
    top: 20px;
    list-style-type: none;
    display: flex;
    gap: 7px;
    align-items: center;
}



.blog__item-text{
    color: #525252;
    font-size: 16px;
    line-height: 155%;
}

.blog__item-text:not(:last-child){
    margin-bottom: 25px;
}

.blog__item-aside{
    min-width: 370px;
    padding: 20px 30px;
    background: #F3F3F3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.blog__aside-list{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

h4.blog__aside-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    max-width: 300px;
}

.blog__aside-text{
    font-size: 12px;
    color: #858585;
    line-height: 155%;
    font-weight: 400;
    margin-top: 5px;

}

h3.blog__aside-title{
    line-height: 155%;
    font-size: 20px;
    font-weight: 700;
}

.swiper__center-title{
  font-size: 16px;
}

@media (max-width: 1440px){
  .blog__item-aside{
    min-width: 329px;
  }
  .blog__item-box{
    border-radius: 20px;
  }
  .blog__item-img{
    min-height: 333px;
    border-radius: 20px;
  }
  .blog__item-text{
    padding-right: 7px;
  }
  .swiper__center-text{
    line-height: 155%;
    font-size: 14px;
  }
  
}

@media (max-width: 1180px) {
  .header.other-pages {
    padding-top: 6px;
    padding-bottom: 7px;
  }
 
  .navigation {
    margin-top: 87px;
    margin-bottom: 39px;
  }
  .navigation__inner.none {
    display: flex !important;
  }
  .navigation__inner.mobile {
    display: none !important;
  }
  .blog__item-inner{
    flex-direction: column;
    gap: 54px;
  }
  .blog__item-box .swiper__card-item.one{
    min-width: 119px;
    padding: 5px 0;
    
  }
  h4.blog__aside-title{
    max-width: unset;
  }
  .blog__item-aside{
    padding: 25px 30px;
  }
  .blog__item{
    margin-bottom: 77px;
  }
  .blog .swiper__center{
    padding: 78px 30px 25px;
  }
  .blog{
    margin-bottom: 50px;
  }
  .services__item-link.mobile{
    display: none !important; 
  }
  
}

@media (max-width: 768px) {
  .header .container{
    padding-bottom: 7px;
    padding-top: 10px;
  }
  .navigation{
    margin-bottom: 52px;
  }
  .navigation__inner.mobile {
    display: flex !important;
    gap: 8px;
  }
  .navigation__inner.mobile a {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .navigation__inner.none, .blog__item-aside {
    display: none !important;
  }

  .navigation__text:last-child {
    color: var(--Grey, #858585);

    font-size: 12px;
    font-weight: 400;
  }
  .blog__item{
    margin-bottom: 55px;
  }
  .blog__item-article{
    margin: 34px 0px 20px;
  }
  .blog__item-time{
    font-size: 12px;
  }
  .blog__item-icon{
    width: 18px;
  }
  .blog__item-box .swiper__card-item.one{
    display: none;
  }
  .blog__item-img{
    min-height: 200px;
  }
  .blog__item-box{
    margin-bottom: 16px;
  }
  .blog__item-text:not(:last-child){
    margin-bottom: 27px;
  }
  .blog .swiper__card-list{
    top: 27px;
  }
  .swiper__center-title{
    font-size: 20px;
  }
  .swiper__center-text{
    font-size: 16px;
    padding-right: 5px;
  }
  .blog{
    margin-bottom: 63px;
  }
  .catalog2 .container{
    padding-bottom: 262px;
  }
  .services__item-link.mobile{
    display: block !important; 
  }
}
