






.about__developers {
  margin-bottom: 100px;
}
.about__developers-title {
  margin-bottom: 50px;
}
.about__developers-text {
  color: var(--Text-grey, #525252);
    max-width: 870px;
  font-size: 16px;

  font-weight: 400;
  line-height: 155%; /* 24.8px */
}
.about__developers-text:first-of-type {
  margin-bottom: 30px;
}
