.header {
  padding-top: 30px;
}

.navigation {
  margin: 14px 0px 89px;
}

.navigation__inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s all ease;
}

.navigation__text:hover {
  color: #fff;
}

.navigation__text:last-child {
  color: var(--White, #fff);
  cursor: unset;
}



.modal-body{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.modal .catalog__form{
  flex-direction: column;
}

.modal .catalog__title{
  color: var(--Dark, #2E2F36);
font-size: 32px;
font-weight: 700;
line-height: 140%; /* 44.8px */
letter-spacing: -0.32px;
}

.modal .catalog__subtitle{
  color: var(--Text-grey, #525252);
font-size: 16px;
font-weight: 400;
line-height: 155%; /* 24.8px */
}

.modal .catalog__form-input{
  border-radius: 8px;
background: var(--Grey-BG, #F3F3F3);
color: #858585;
font-size: 14px;
font-weight: 400;
width: 100%;
}

.modal .catalog__form-btn{
  padding-top: 17px;
  padding-bottom: 17px;
}

.modal__descr{
  z-index: 2;
  margin-left: 60px;
}

.modal__content{
  margin-left: -460px;
  margin-bottom: -10px;

  z-index: 1;
  min-width: 410px;
  position: relative;
}

.modal-body{
  overflow: hidden;

}

.modal .close {
  z-index: 5;
}

.modal-dialog{
  padding: 0;
}

.modal .catalog__form-input{
  min-width: 400px;
}

.phone__box .catalog__form-input.active{
  color: #858585;
}



.developer__item-img {
  position: absolute;
  z-index: -3;
  min-width: 1920px;
  width: 100%;
  top: 0px;
  object-fit: cover;
  height: 600px;
}

.developer__item-img.over {
  z-index: -2;
}

.developer__item-title {
  color: var(--White, #fff);
  font-size: 40px;
  font-weight: 600;
}

.developer__item-text {
  margin: 12px 0 29px;
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  max-width: 562px;
  display: block;
}

.developer__item-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.developer__list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.developer__list-title {
  color: var(--Grey-BG, #f3f3f3);
  font-size: 18px;
  font-weight: 600;
  line-height: 150%; /* 27px */
}

.developer__list-subtitle {
  color: var(--Grey-BG, #f3f3f3);
  font-size: 12px;
  font-weight: 400;
  line-height: 155%; /* 18.6px */
}

.developer__item-btn {
  border-radius: 8px;
  background: var(--Sand, #b4a06b);
  padding: 21px 38px;
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
}

.developer__item-btn:hover {
  background: #cbbd98;
}

.developer__item-link {
  display: block;
  max-width: 286px;
  margin-top: 39px;
}

.rewards {
  margin: 200px 0 90px;
}

.rewards__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rewards__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 271px;
  min-width: 271px;
}

.rewards__item-imgs {
  position: relative;
  min-height: 128px;
  min-width: 210px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 20px;
}

.rewards__item-img {
  position: absolute;
}

.rewards__item-title {
  color: #2e2f36;
  font-size: 24px;
  margin-bottom: 5px;
}

.rewards__item-text {
  color: var(--Grey, #858585);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 155%; /* 21.7px */
}

.rewards__item-img:first-of-type {
  z-index: -2;
  left: 0px;
  top: 0px;
}
.rewards__item-img:last-of-type {
  z-index: -4;

  top: 0px;
}

.developers__cards {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  max-height: 908px;
  overflow: hidden;
  gap: 30px;
  transition: max-height 1s ease-in-out;
}

.developers__cards.active {
  max-height: 2000px;
  transition: max-height 1s ease-in-out;
}

.about__developer {
  margin-bottom: 94px;
}
.about__developer-title {
  margin-bottom: 37px;
}
.about__developer-text {
  color: var(--Text-grey, #525252);
  max-width: 870px;
  font-size: 16px;

  font-weight: 400;
  line-height: 155%; /* 24.8px */
}
.about__developer-text:first-of-type {
  margin-bottom: 24px;
}

.districts {
  margin-bottom: 97px;
}

.catalog2 .container {
  padding-top: 91px;
}

.developers__descr {
  margin-bottom: 39px;
}
.swiper__text-box {
  padding: 14px 20px;
}
.swiper__title {
  font-size: 20px;
}
.developers .developers__descr-btn {
  align-self: center;
  display: block;
  margin-top: 37px;
}

.developers__inner {
  display: flex;
  flex-direction: column;
}

.catalog .container {
  padding-top: 93px;
}

.catalog {
  margin-bottom: 97px;
}

.footer .container {
  padding: 374px 63px 75px 26px;
}

@media(max-width: 1899px){
  .developer__item-img{
    min-width: unset;
  }
}

@media (max-width: 1440px) {
  .rewards__item-img:first-of-type {
    width: 184px;
  }
  .rewards__item:nth-child(2) .rewards__item-img:last-of-type {
    width: 121px;
  }
  .rewards__item-img:last-of-type {
    width: 63px;
  }
  .rewards__item-imgs {
    min-width: 184px;
    min-height: 113px;
  }
  .rewards__item-title {
    margin-bottom: -3px;
  }
  .rewards__item {
    min-width: 264px;
    max-width: 264px;
  }
  .developers {
    margin-bottom: 96px;
  }
  .catalog{
    margin-bottom: 91px;
  }
  .about__developer-text{
    max-width: 780px;
  }
  .footer .container{
    padding: 369px 95px 80px 87px;
  }
  .developers__cards{
    max-height: 824px;
  }
}

@media (max-width: 1180px) {
  .modal-body{
    display: flex;
    flex-direction: column;
  }
  .modal__content{
    margin: 0;
    margin-top: -210px;
    min-width: unset;
    border-radius: 12px;
  }
  .modal__content-img{
    border-radius: 0px 0px 12px 12px;
  }
  .modal__descr{
    margin: 40px 0px;
    padding: 0 30px;
    width: 100%;
  }
  .modal .catalog__form-input{
    min-width: unset;
  }
 
  .modal .catalog__subtitle{
    font-size: 14px;
    margin: 25px 0;
  }
  .modal .catalog__title{
    color: var(--Dark, #2E2F36);
font-size: 24px;
font-weight: 700;
line-height: 140%; /* 33.6px */
letter-spacing: -0.24px;
  }
  .navigation__inner.mobile {
    display: none !important;
  }
  .navigation__inner.none{
    display: flex !important;
  }
  .header{
    padding-top: 0px;
  }
  .header__top-right{
    margin-top: 5px;
  }
  .navigation {
    margin: 87px 0px 66px;
}
.developer__item-text{
  max-width: 515px;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 31px;
}
.developer__item-list{
  gap: 30px;
}
.developer__item-img{
  height: 530px;
}
.rewards{
  margin-top: 158px;
  margin-bottom: 70px;
}
.swiper-rewards{
  overflow: hidden;
  position: relative;
  padding-bottom: 37px;
}
.swiper-pagination.rewards{
  margin: 0;
 
}
.swiper-slide:nth-child(2) .rewards__item-img:last-of-type{
  width: 121px;
}
.rewards__item-text f.mobile{
  display: inline-flex !important;
}
.rewards__item{
  min-width: unset;
  max-width: unset;
  width: 100%;
}
.developers__cards{
  grid-template-columns: repeat(2, 48%);
}
.mySwiper1.mobile{
  display: none !important;
}
.developers .developers__descr-btn f.mobile{
  display: inline-flex !important;
}
.container.developers__inner.none{
  display: flex !important;
}
.developers__cards{
  max-height: 900px;
}
.developers__cards.active{
  max-height: 2850px;
}
.developers__descr {
  padding-bottom: 4px;
}
.developers__cards{
  gap: 17px 30px;
}
.developers .developers__descr-btn{
  margin-top: 22px;
}
.catalog__back.none{
  display: block !important;
}
.developers {
  margin-bottom: 150px;
}
.catalog .container{
  padding-top: 2px;
}
.catalog__subtitle{
  margin-top:15px;
}
.catalog{
  margin-bottom: 152px;
}
.about__developer{
  margin-bottom: 68px;
}
.districts .developers__descr{
  padding-bottom: 0;
  margin-bottom: 33px;
}
.districts{
  margin-bottom: 81px;
}
.catalog2 .container{
  padding-top: 74px;
}
.footer__inner.ipad {
  display: grid !important;
  grid-template-columns: repeat(3, 27%);
  padding-left: 57px;
  padding-top: 87px;
  gap: 0px 40px;
  padding-right: 50px;
  padding-bottom: 24px;
}
}

@media (max-width: 768px) {
  .modal__content{
    display: none;
  }
  
  .modal-dialog{
    position: unset;
  }
  .modal .close{
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .modal .catalog__form-input{
    min-width: 280px;
  }
  .modal .catalog__title, .modal .catalog__subtitle{
    text-align: center;
  max-width: unset;
  }
  .navigation__inner.mobile {
    display: flex !important;
    gap: 8px;
  }
  .navigation__inner.mobile a {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .navigation__inner.none {
    display: none !important;
  }
  .catalog .container {
    padding-top: 45px;
  }

  .navigation__text:last-child {
    color: var(--Grey, #858585);

    font-size: 12px;
    font-weight: 400;
  }
  .header__phone{
    margin-top: -8px;
  }
  .developer__item{
    min-height: 418px;
  }
  .developer__item-title{
    font-size: 32px;
  }
  .navigation{
    margin-bottom: 90px;
  }
  .developer__item-list{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 24px 16px;
  }
  .developer__item-text{
    margin-top: 17px;
    margin-bottom: 22px;
  }
  .developer__item-img{
    height: 610px;
  }
  .developer__item-link{
    margin-top: 28px;
    max-width: unset;
    width: 100%;
  }
  .developer__item-btn{
    width: 100%;
  }
  .rewards{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .rewards__list.none{
    display: grid !important;
    grid-template-columns: repeat(2, 48%);
    gap: 20px;
  }
  .rewards__item-imgs{
    min-width: 158px;
    min-height: 98px;
  }
  .rewards__item-img:first-of-type{
    width: 154px;
  }
  .rewards__item-imgs{
    margin-bottom: 14px;
  }
  .rewards__item-title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  .rewards__item-text{
    font-size: 11px;
  }
  .swiper-rewards.mobile{
    display: none !important;
  }
  .container.developers__inner.none{
    display: none !important;
  }
  .mySwiper1.mobile{
    display: block !important;
  }
  .developers .developers__descr-btn.mobile{
    display: none !important;
  }
  .developers .developers__descr{
    margin-bottom: 18px;
  }
  .mySwiper1 {
    padding-bottom: 26px !important;
  }
  .developers__card{
    padding: 0 20px;
  }
  .mySwiper1 .swiper-pagination{
    bottom: 4px !important;
  }
  .developers{
    margin-bottom:  73px;
  }
  .catalog .container{
    padding-top: 58px;
  }
  .catalog__back.none{
    display: none !important;
  }
  .catalog__subtitle{
    margin: 23px 0px 34px;
  }
  .catalog{
    margin-bottom: 63px;
  }
  .about__developer-title{
    margin-bottom: 24px;
  }
  .about__developer-text{
    font-size: 14px;
  }
  .about__developer-text:first-of-type{
    margin-bottom: 27px;
  }
  .about__developer{
    margin-bottom: 55px;
  }
  .districts .developers__descr{
    margin-bottom: 20px;
  }
  .districts {
    margin-bottom: 73px;
  }
  .catalog2 .container{
    padding-top: 53px;
    padding-bottom: 249px;
  }
  .footer__inner.ipad{
    display: none !important;
  }
  .footer__inner {
    padding-top: 70px !important;
  }
}
